body {
    color: white;
    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    font-family: Arial;
}

.info {
    color: gray;

    font-size: 0.8em;
}

h2 {
    margin: 10px;

    text-decoration: underline;
}

p {
    margin: 5px;
}

hr {
    width: 50%;

    margin: 50px 0px;
}

pre, .single-line {
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: left;

    border: solid white 1px;
    border-radius: 5px;

    color: lightgray;
    background-color: #212121;
}

.single-line {
    padding: 15px 0px;
}

code {
    width: 80%;
    height: 100%;

    margin-bottom: 15px;

    text-align: left;

    display: flex;
    justify-content: left;
}

li {
    text-align: left;
}

h4 {
    font-size: 1em;

    text-decoration: underline;
}