body {
    font-family: Arial, Helvetica, sans-serif;

    color: white;
    background-color: #1f1f1f;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header * {
    margin: 5px;
}

a {
    color: white;

    font-weight: 700;
}

h1, img {
    margin: 0;
}

h2 {
    text-align: center;
}

#titre {
    display: flex;
    
}

.logo-php {
    width: 75px;
}

main {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-list, .registered-sites {
    width: 95%;
    height: 100%;

    margin: 25px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 15%;
    height: 20vh;

    min-width: 150px;
    min-height: 100px;

    margin: 25px;

    background-color: #3b3b3b;

    text-align: center;

    border: solid 2px white;
    border-radius: 15px;
}

.project div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project div:first-of-type {
    height: 70%;
}

.project div:last-of-type {
    height: 30%;
}

.button {
    background-color: ;
}

hr {
    width: 80%;
}

.site {
    width: 15%;
    height: 13vh;

    min-width: 150px;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 25px;

    background-color: #3b3b3b;

    text-align: center;

    border: solid 2px white;
    border-radius: 15px;
}

.site h2 {
    margin: 20px;
}

.form-hr {
    width: 40%;
}

form {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    width: 30%;
    height: 5vh;

    margin: 5px 0px;
}

form input[type="text"] {
    color: white;
    background-color: #1f1f1f;

    outline : none;

    border: none;
    border-bottom: solid white 1px;
}

form input[type=submit] {
    width: 15%;

    font-size: 1em;

    border: none;
    border-radius: 5px;

    margin: 25px 0px 10px 0px;
}